body{
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.app{
background:white;
padding:30px;
border-radius:15px;
width:420px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
text-align:center;
margin-bottom:20px;
}

.input-section{
display:flex;
gap:10px;
}

#taskInput{
flex:1;
padding:10px;
font-size:16px;
}

button{
cursor:pointer;
border:none;
padding:10px;
border-radius:6px;
}

#addBtn{
background:#27ae60;
color:white;
}

.controls{
margin-top:15px;
display:flex;
justify-content:space-between;
}

.filters button,
.sort button{
background:#eee;
margin-right:5px;
}

ul{
list-style:none;
padding:0;
margin-top:20px;
}

.task{
display:flex;
justify-content:space-between;
align-items:center;
background:#f4f4f4;
padding:10px;
margin-bottom:10px;
border-radius:8px;

transition:0.3s;
}

.task.completed{
text-decoration:line-through;
opacity:0.6;
}

.icons i{
margin-left:10px;
cursor:pointer;
}

.delete{
color:#e74c3c;
}

.edit{
color:#3498db;
}

.check{
color:#2ecc71;
}

/* animation when deleting */
.task.removing{
transform:translateX(100%);
opacity:0;
}